<ul *ngIf="todoArray.length>0; else noTodo"
 class="list-group">
    <li *ngFor="let todo of todoArray"
     class="list-group-item d-flex justify-content-between">
        {{todo.todoItem}}
        <div>
            <button mat-raised-button color="primary" class="mr-2">Edit</button>
            <button (click)="onRemove(todo)"
             class="btn" mat-raised-button color="warn">Remove</button>
        </div>
    </li>
</ul>
<ng-template #noTodo>
    <p class="alert alert-danger">Not todo to show</p>
</ng-template>